.Landing {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    border-style: groove;
    border-color: var(--title-color);
}

h1 {
    color: var(--title-color);
}

.tagline {
    font-size: small;
    opacity: 80%;
}
